.person {
  //margin-bottom: 15px;
  //width: 90%;
  //min-height: 95px;
  //padding: 0;
  .media-object {
  	//box-shadow: 0 5px 0 -4px currentColor;
  	@include breakpoint(medium) {
		margin-bottom: 1.75rem;
	 }
  }
  h2 {
    font-size: 1.125rem;
    @include breakpoint (medium) {
      font-size: 1.5625rem;
    }
  }
  h3 {
    font-size: 1.0625rem;
    @include breakpoint (medium) {
      font-size: 1.25rem;
    }    
  }
}

.directory {
  list-style: none;
 
  p {
    margin-top: 20px;
  }
}

.black {
  color: $black;
}

.bio {
  margin-bottom: 1rem;
  h2 {
    font-family: $font-stack-semibold;
    font-weight: $font-stack-semibold-weight;
    font-size: 1.5rem;
  }
  img {
    &.headshot {
      @include breakpoint (small only) {
        max-width: rem-calc(250px);
      }
    }
  }
}

.row.bio {
  @include breakpoint(medium) {
      margin-left: -1rem;
  }
}


ul.contact {
	list-style: none;

	li {
		@include breakpoint(small) {
			font-size: .9rem;

		}
		@include breakpoint(medium) {
			font-size: 1.125rem;
		}
	}	
}

img.size-directory {
  max-width: 150px;
}

.fa-phone-square {
  transform: rotate(90deg);
}