.hero {
  background: transparent;
  .fullscreen-image-slider {
     //@include flex-align($x: center, $y: stretch);
    .orbit-image {
      width: 100%;
      //height: 60vh;
    }
    .orbit-caption {
      p {
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
      @include breakpoint(small) {
        bottom: 0;
        width: 100%;
        h1 {
          font-size: 1rem;
        }
      }
      @include breakpoint(medium) {
        h1 {
          font-size: 1.75rem;
        }
      }
      @include breakpoint(large) {
      bottom: 15%;
      width: 35%;
      h1, p {
        padding-right: 1rem;
      }
      h1 {
        font-size: 2rem;
      }
      }
      @include breakpoint(xlarge) {
      bottom: 25%;
      width: 35%;
      }

    }
    .orbit-bullets {
      @include breakpoint(large) {
        margin-top: -2rem;
      }
      button {
        background-color: $white;
        &.is-active {
          background-color: $blue;
        }
      }
      [data-whatinput="mouse"] a:focus, button:focus [data-whatinput="touch"] a:focus, button:focus {
        background-color: $blue;
        outline: -webkit-focus-ring-color auto 5px;
      }      
    }
    .orbit-previous, .orbit-next {
      .fa {
        font-weight: 800;
      }
    }
  }
  .front-hero {
    .marketing {
      @include grid-row();
      max-width: 55rem;
    }

    @include breakpoint(small) {
      background: url('../images/frontpage/homepage-slider-hero.jpg') bottom center;
      background-size: cover;
      background-position: bottom;
      padding: rem-calc(65%) 0;
      margin: 0 0 rem-calc(32);
      height: rem-calc(200);
      position: relative;
      text-align: left;
    }

    @include breakpoint(medium) {
      background-size: cover;
      background-position: center;
      height: rem-calc(365);
    }


    .tagline {
      @include breakpoint(small) {
        @include grid-column(8);
      }

      @include breakpoint(medium) {
        @include grid-column(9);
        padding-top: 6rem;
      }
    }

    h1 {
      color: $white;
      text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
      @include breakpoint(small) {
        font-size: 2.2rem;
      }

      @include breakpoint(medium) {
        font-size: 2.875rem;
      }
    }
  }
}

// Intro
.intro {
  height: 25vh;
  margin-top: 2rem;
  .fp-intro {
    h1 {
      color: $heritageblue;
      span.skyblue {
        color: $blue;
      }
      @include breakpoint(small) { 
        font-size: 1.25rem;
        text-align:center;
      }
      @include breakpoint(medium) {
        font-size: 1.5rem;
        text-align: inherit;
      }
      @include breakpoint(large) {
        font-size: 2rem;
      }
    }
    @include breakpoint(small) {
      @include grid-column(12);
      margin: 1rem auto;
    }
    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);
      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
    .card {
      border: none;
      text-align: center;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
       &:hover {
            background: black;
      }
    }
  }
  .home-content {
    padding-bottom: 1rem;

    @include breakpoint(large) {
      p {
        font-size: 1.35rem;
      }
      // Changes size only
      @include grid-col-size(10);

      // Changes position only
      @include grid-col-pos(1);
    }
  }
  .programs {
    .button {
      margin: 1rem;
      font-size: 1.5rem;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
      background-color: $skyblue;
    }
  }
  .grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    figure {
      position: relative;
      float: left;
      overflow: hidden;
      margin: 10px 1%;
      @include breakpoint (medium) {
        //min-width: 320px;
        max-width: 480px;
        max-height: 360px;
        width: 48%;      
      }
      @include breakpoint (large) { 
        max-width: 320px;
        max-height: 215px;
        width: 31%;
      }
      background: $blue;
      text-align: center;
      cursor: pointer;
      img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
      }
      figcaption {
        @include breakpoint (medium) {
           padding: 1em;
        }
        @include breakpoint (large) {
          padding: 2em;
        }
        
        color: $white;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before, &::after {
          pointer-events: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
          text-indent: 200%;
          white-space: nowrap;
          font-size: 0;
          opacity: 0;
        }
      }
      h2 {
        margin: 0;
        @include breakpoint (small) {
          font-size: 1.25rem;
        }
        @include breakpoint (medium) {
          font-size: 1.5rem;
        }
        @include breakpoint (large) {
          font-size: 1.5rem;
        }
      }
      p {
        margin: 0;
        letter-spacing: 1px;
         @include breakpoint (medium) {
          font-size: 70%;
        }
        @include breakpoint (large) {
          font-size: 68.5%;
        }
      }
    }
  }
  figure.effect-oscar {
    img {
      opacity: 0.9;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }
    figcaption {
      &::before {
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        @include breakpoint (large) {
          border: 1px solid $white;
        }
        content: '';
      }
    }
    h2 {
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
      margin: 0 0 10px 0;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      
    }
    figcaption::before, p {
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &:hover {
      h2 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      figcaption::before, p {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      figcaption {
        background-color: rgba(58, 52, 42, 0);
      }
      img {
        opacity: 0.4;
      }
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1178px) {
    figure.effect-oscar { 
       figcaption {
        h2 {
          font-size: 1.25rem;
        }
        p {
          font-size: 60%;
        }
         &::before {
          border: none;
        }
      }
    }
  }

  @media screen and (min-width: 640px) and (max-width: 675px) {
  .grid figure h2 {
    font-size: 1.125rem;
  }
  }

}

// Section divider
.section-divider {
  margin: 2rem 0;
  @include grid-row();
  hr {
    @include grid-column(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}

.texture {
  @include breakpoint (large) {
    background: url(../images/frontpage/bg-campus-students.jpg) no-repeat fixed;
    background-size: cover;
  }
  margin-bottom: 2rem;
  hr {
    border-bottom: 1px solid transparent;
  }
  @include breakpoint(medium) {
    background-color: $grey;
  }
}

// News
.news {
  @include grid-row();
  text-align: left;
  .tabs, .tabs-content {
    background: rgba(255, 255, 255, 0.8);
     .main-content, .hub-news,  h1.hub-title a {
      background: $white;
    }
  }
  h1.hub-title {
    a {
      padding: 1rem;
    }
  }
  .tabs {
    margin-top: 1rem;
  }
  ul.tabs {
    border-top: 1px solid darken($grey, 25%);
    border-left: 1px solid darken($grey, 25%);
    border-right: 1px solid darken($grey, 25%); 
  }
  .tabs-content {
    border-bottom: 1px solid darken($grey, 25%);
    border-left: 1px solid darken($grey, 25%);
    border-right: 1px solid darken($grey, 25%);
  }
  .tabs-content, .accordion-item {   
      h1 {
        font-size: 1.25rem;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
      .media-object-section {
        img {
          max-width: 75%;
        }
      }
      .hub-news, .hub-events {
          h1 {
            font-family: $font-stack-bold;
            font-weight: $font-stack-bold-weight;
            font-size: 1rem;
          }
          p {
            font-family: $font-subhead-book;
            font-weight: $font-subhead-book-weight;
          }
          .hub-img {
            padding-top: 1rem;
          }
          summary {
            list-style-type: none;
          }
        @include breakpoint(small) {
            @include grid-column(12);
        }
        @include breakpoint(medium) {
            @include grid-column(6);
        }
        @include breakpoint(large) {
            @include grid-column(3);
            height: 400px;
        }  
      }
      .hub-events {
        padding-top: 1rem;
        h3, h4 {
          font-size: .9rem;
          font-family: $font-stack-bold;
          font-weight: $font-stack-bold-weight;
        }
        p {
          font-size: .9rem;
        }
        @include breakpoint(medium) {
          @include grid-column(3);
          &:not(:last-child) {
            border-right: 1px solid $grey;
          }
          &.end:last-child:last-child {
            float: left;
          }
        }
        @include breakpoint(large) {
          height: 300px;
        }
      }
      .hub-news.story {
        @include breakpoint(large) {
          height: 475px;
        } 
      }     
  }
  .tabs-title > a, a.accordion-title {
    font-size: 1rem;
    font-family: $font-stack-bold;
    font-weight: $font-stack-bold-weight;
  }
  .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: $blue;
    color: $white;
  }
  .tabs-title > a {
    color: $blue;
  }

  li.is-active.accordion-item > a.accordion-title {
      background: $grey;
  }

  header {
    @include grid-column(12);
    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  #spotlight {
    .home-news {
      background: $white;
    }
    h1 {
      @include breakpoint(large) {
        margin-top: 1rem;
        font-size: 1.75rem;
        font-family: $font-header;
        font-weight: $font-header-weight;
      }
      small {
        text-transform: uppercase;
        font-size: 55%;
        color: $dark-gray;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
    }
    img.large-news {
      padding: 2rem;
    }
    .home-video {
      //padding: 1rem;
      .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 100;
          background: transparent;
        }
        img {
          bottom: 0;
          display: block;
          left: 0;
          margin: auto;
          max-width: 100%;
          width: 100%;
          position: absolute;
          right: 0;
          top: 0;
          border: none;
          height: auto;
          cursor: pointer;
          -webkit-transition: .4s all;
          -moz-transition: .4s all;
          transition: .4s all;
          &:hover {
            -webkit-filter: brightness(75%);
          }
        }
        .play {
          height: 72px;
          width: 72px;
          left: 50%;
          top: 50%;
          margin-left: -36px;
          margin-top: -36px;
          position: absolute;
          background: url("//i.imgur.com/TxzC70f.png") no-repeat;
          cursor: pointer;
        }
      }           
    }
  }
}

.connect {
  h1.heading {
    @include breakpoint(small) {
      padding-left: 1rem;
    }
    @include breakpoint(large) {
      padding-left: inherit;
    }
  }
  p, li {
    font-family: $font-subhead-book;
    font-weight: $font-subhead-book-weight;
  }
   @include grid-row();
  .youtube, .twitter, .instagram {
    h1 {
      font-size: 1.25rem;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
    }
    h1.twitter-byline {
      small {
        color: $dark-gray;
      }
    }
    padding: 1rem;
    border: 2px solid $grey;
    @include breakpoint(small) {
        @include grid-column(12);
      }

    @include breakpoint(medium) {
       @include grid-column(6);
      }
    @include breakpoint(large) {
      width: 48%; 
    }
  }
  .twitter {
    padding-left: 2rem !important;
    padding-right: 0 !important;
    .media-object {
      img:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
      }
    }
    .callout {
      //border-width: 2px;
    }
  }
  .instagram {
    h1 {
      padding-left: 1rem;
    }
    img.gram {
      @include breakpoint(small) {
        display: block;
        margin: auto;
      }
      @include breakpoint (medium) {
        display: inherit;
        margin: inherit;
      }
      &:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
      }
    }
   .gram-link {
    margin-top: 2rem;
   }
   .instagram-card:not(:first-of-type) {
    @include breakpoint (small) {
      display: none;
    }
    @include breakpoint (medium) {
      display: inherit;
    }
   }
  }

  .twitter, .instagram {
    @include breakpoint(large) {
      height: rem-calc(325);
    }
  }
  .social {
    ul.menu {
      @include breakpoint(small) {
        margin-top: inherit;
        li {
          float: left;
        }
      }
      @include breakpoint(large) {
        margin-top: -50px;
        li {
            float: right;
          }
      }
    }
    li.menu-text {
      font-size: 1.6rem;
      font-family: $font-stack-semibold;
      font-weight: $font-stack-semibold-weight;
    }
  }
}

$giving-hero-height: 50vh;

.giving-hero {
  background: $blue;
  background: url('../images/frontpage/homepage-giving-image.jpg') top right no-repeat;
  @include breakpoint (large) {
    height: $giving-hero-height;
  }
  background-size: cover;
  display: flex;
  align-items: center;
  @media screen and (min-width: 40em) {
    background-position: center center;
  }
  .giving-hero-content {
    max-width: $global-width;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
      color: $white;
      @include breakpoint (small) {
        font-size: 1.5rem;
      }
      @include breakpoint (large) {
        font-size: 2rem;
      }
    }
    .subheader {
      color: $white;
      @include breakpoint (small) {
        font-size: 1.25rem;
      }
      @include breakpoint (large) {
        font-size: 1.5rem;
      }
    }
    @media screen and (min-width: 64em) {
      padding-left: 35%;
    }
  }
}