.hero {
  background: transparent;
  .fullscreen-image-slider {
     //@include flex-align($x: center, $y: stretch);
    .orbit-image {
      width: 100%;
      //height: 60vh;
    }
    .orbit-caption {
      p {
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
      @include breakpoint(small) {
        bottom: 0;
        width: 100%;
        h1 {
          font-size: 1rem;
        }
      }
      @include breakpoint(medium) {
        h1 {
          font-size: 1.75rem;
        }
      }
      @include breakpoint(large) {
      bottom: 15%;
      width: 35%;
      h1, p {
        padding-right: 1rem;
      }
      h1 {
        font-size: 2rem;
      }
      }
      @include breakpoint(xlarge) {
      bottom: 25%;
      width: 35%;
      }

    }
    .orbit-bullets {
      @include breakpoint(large) {
        margin-top: -2rem;
      }
      button {
        background-color: $white;
        &.is-active {
          background-color: $heritageblue;
        }
      }
      [data-whatinput="mouse"] a:focus, button:focus [data-whatinput="touch"] a:focus, button:focus {
        background-color: $heritageblue;
        outline: -webkit-focus-ring-color auto 5px;
      }      
    }
    .orbit-previous, .orbit-next {
      .fa {
        font-weight: 800;
      }
    }
  }
  .front-hero {
    color: $white;
    .marketing {
      @include grid-row();
      max-width: 55rem;
    }

    @include breakpoint(small) {
      //background: url('../images/frontpage/homepage-slider-hero.jpg') bottom center;
      background-size: cover;
      background-position: top;
      padding: rem-calc(65%) 0;
      margin: 0 0 rem-calc(32);
      height: rem-calc(200);
      position: relative;
      text-align: left;
    }

    @include breakpoint(medium) {
      background-size: cover;
      background-position: top;
      height: 55vh;
    }

    .tagline {
      @include breakpoint(small) {
        @include grid-column(8);
      }

      @include breakpoint(medium) {
        @include grid-column(9);
        padding-top: 6rem;
      }
    }
    .caption {
      color: #fefefe;
     
      background-color: rgba(44,44,51,.66);
      @include breakpoint(large) {
        padding: 1rem 2rem;
        p {
          font-size: 1.125rem;
          font-family: $font-stack-semibold;
          font-weight: $font-stack-semibold-weight;
          line-height: 1.25;
        }
        h1 {
          font-size: 2rem;
          text-shadow: 2px 2px 2px #000;
          text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
        }
      }
      @include breakpoint (xlarge) {
        padding: 2rem 4rem;
        p {
           font-size: 1.25rem;
        }
      }     
    }
  }
}

// Intro
.intro {
  height: 25vh;
  margin-top: 2rem;
  .fp-intro {
    h1 {
      color: $heritageblue;
      span.skyblue {
        color: $black;
      }
      @include breakpoint(small) { 
        font-size: 1.25rem;
        text-align:center;
      }
      @include breakpoint(medium) {
        font-size: 1.5rem;
        text-align: inherit;
      }
      @include breakpoint(large) {
        font-size: 2rem;
      }
    }
    @include breakpoint(small) {
      @include grid-column(12);
      margin: 1rem auto;
    }
    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);
      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
    .card {
      border: none;
      text-align: center;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
       &:hover {
            background: black;
      }
    }
  }
  .home-content {
    padding-bottom: 1rem;
    @include breakpoint(large) {
      p {
        font-size: 1.35rem;
      }
      // Changes size only
      //@include grid-col-size(10);

      // Changes position only
      //@include grid-col-pos(1);
      h1 {
       text-align: center;
      }
    }
  }
  .programs {
    .button {
      margin: 1rem;
      font-size: 1.5rem;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
      background-color: $heritageblue;
      &:hover {
        background-color: $spiritblue;
        color: $black;
      }
    }
  }
  .grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    figure {
      position: relative;
      float: left;
      overflow: hidden;
      margin: 10px 1%;
      @include breakpoint (medium) {
        //min-width: 320px;
        max-width: 480px;
        max-height: 360px;
        width: 48%;      
      }
      @include breakpoint (large) { 
        max-width: 320px;
        max-height: 215px;
        width: 31%;
      }
      background: $heritageblue;
      text-align: center;
      cursor: pointer;
      img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
      }
      figcaption {
        @include breakpoint (medium) {
           padding: 1em;
        }
        @include breakpoint (large) {
          padding: 2em;
        }
        
        color: $white;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before, &::after {
          pointer-events: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
          text-indent: 200%;
          white-space: nowrap;
          font-size: 0;
          opacity: 0;
        }
      }
      h2 {
        margin: 0;
        @include breakpoint (small) {
          font-size: 1.25rem;
        }
        @include breakpoint (medium) {
          font-size: 1.5rem;
        }
        @include breakpoint (large) {
          font-size: 1.5rem;
        }
      }
      p {
        margin: 0;
        letter-spacing: 1px;
         @include breakpoint (medium) {
          font-size: 70%;
        }
        @include breakpoint (large) {
          font-size: 68.5%;
        }
      }
    }
  }
  figure.effect-oscar {
    img {
      opacity: 0.9;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }
    figcaption {
      &::before {
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        @include breakpoint (large) {
          border: 1px solid $white;
        }
        content: '';
      }
    }
    h2 {
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
      margin: 0 0 10px 0;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      
    }
    figcaption::before, p {
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &:hover {
      h2 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      figcaption::before, p {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      figcaption {
        background-color: rgba(58, 52, 42, 0);
      }
      img {
        opacity: 0.4;
      }
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1178px) {
    figure.effect-oscar { 
       figcaption {
        h2 {
          font-size: 1.25rem;
        }
        p {
          font-size: 60%;
        }
         &::before {
          border: none;
        }
      }
    }
  }

  @media screen and (min-width: 640px) and (max-width: 675px) {
  .grid figure h2 {
    font-size: 1.125rem;
  }
  }

}

// Section divider
.section-divider {
  margin: 2rem 0;
  @include grid-row();
  hr {
    @include grid-column(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}

.texture {
  @include breakpoint (large) {
    //background: url(../images/frontpage/bg-campus-students.jpg) no-repeat fixed;
    //background-size: cover;
    background: url('https://krieger.jhu.edu/wp-content/uploads/2020/02/topography-400px.png');
  }
  margin-bottom: 2rem;
  hr {
    border-bottom: 1px solid transparent;
  }
  @include breakpoint(medium) {
    background-color: $grey;
  }
}

// News
.news {
  @include grid-row();
  text-align: left;
  .tabs, .tabs-content {
    background: rgba(255, 255, 255, 0.8);
     .main-content, .hub-news,  h1.hub-title a {
      background: $white;
    }
  }
  h1.hub-title {
    a {
      padding: 1rem;
    }
  }
  .tabs {
    margin-top: 1rem;
  }
  ul.tabs {
    border-top: 1px solid darken($grey, 25%);
    border-left: 1px solid darken($grey, 25%);
    border-right: 1px solid darken($grey, 25%); 
  }
  .tabs-content {
    border-bottom: 1px solid darken($grey, 25%);
    border-left: 1px solid darken($grey, 25%);
    border-right: 1px solid darken($grey, 25%);
  }
  .tabs-content, .accordion-item {   
      h1 {
        font-size: 1.25rem;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
      .media-object-section {
        img {
          max-width: 75%;
        }
      }
      .hub-news, .hub-events {
          h1 {
            font-family: $font-stack-bold;
            font-weight: $font-stack-bold-weight;
            font-size: 1rem;
          }
          p {
            font-family: $font-subhead-book;
            font-weight: $font-subhead-book-weight;
            font-size: .9rem;
          }
          .hub-img {
            padding-top: 1rem;
          }
          summary {
            list-style-type: none;
          }
        @include breakpoint(small) {
            @include grid-column(12);
        }
        @include breakpoint(medium) {
            @include grid-column(6);
        }
        @include breakpoint(large) {
            @include grid-column(3);
            //height: 400px;
        }  
      }
      .hub-events {
        padding-top: 1rem;
        h3, h4 {
          font-size: .9rem;
          font-family: $font-stack-bold;
          font-weight: $font-stack-bold-weight;
        }
        p {
          font-size: .9rem;
        }
        @include breakpoint(medium) {
          @include grid-column(3);
          &:not(:last-child) {
            border-right: 1px solid $grey;
          }
          &.end:last-child:last-child {
            float: left;
          }
        }
        @include breakpoint(large) {
          //height: 300px;
        }
      }
      .hub-news.story {
        @include breakpoint(large) {
          //height: 475px;
        } 
      }     
  }
  .tabs-title > a, a.accordion-title {
    font-size: 1rem;
    font-family: $font-stack-bold;
    font-weight: $font-stack-bold-weight;
  }
  .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: $heritageblue;
    color: $white;
  }
  .tabs-title > a {
    color: $heritageblue;
  }

  li.is-active.accordion-item > a.accordion-title {
      background: $grey;
  }

  header {
    @include grid-column(12);
    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  #spotlight {
    .home-news {
      background: $white;
    }
    h1 {
      @include breakpoint(large) {
        margin-top: 1rem;
        font-size: 1.75rem;
        font-family: $font-header;
        font-weight: $font-header-weight;
      }
      small {
        text-transform: uppercase;
        font-size: 55%;
        color: $dark-gray;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
    }
    img.large-news {
      padding: 2rem;
    }
    .home-video {
      //padding: 1rem;
      .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 100;
          background: transparent;
        }
        img {
          bottom: 0;
          display: block;
          left: 0;
          margin: auto;
          max-width: 100%;
          width: 100%;
          position: absolute;
          right: 0;
          top: 0;
          border: none;
          height: auto;
          cursor: pointer;
          -webkit-transition: .4s all;
          -moz-transition: .4s all;
          transition: .4s all;
          &:hover {
            -webkit-filter: brightness(75%);
          }
        }
        .play {
          height: 72px;
          width: 72px;
          left: 50%;
          top: 50%;
          margin-left: -36px;
          margin-top: -36px;
          position: absolute;
          background: url("//i.imgur.com/TxzC70f.png") no-repeat;
          cursor: pointer;
        }
      }           
    }
  }
}

.connect {
  h1.heading {
    @include breakpoint(small) {
      padding-left: 1rem;
    }
    @include breakpoint(large) {
      padding-left: inherit;
    }
  }
  p, li {
    font-family: $font-subhead-book;
    font-weight: $font-subhead-book-weight;
  }
  .links {
    @include grid-row();
  }

  .feed {

    .feeds {
       $row-width: em-calc(1000);
    }
    .insta {
      border: 2px solid $grey;
    }
    .tiktok {
      //position: relative;
      border: 2px solid $grey;
      padding: .5rem;
      
     .tiktok-thumb {
        //position: absolute;
        position: relative;
        overflow: hidden;
        @include breakpoint (medium) {
          max-height: 570px;
        }
        img {
          //max-height: 560px;
          //-webkit-transition: 0.6s ease;
          //transition: 0.6s ease;
        }
        .image {
            opacity: 1;
            display: block;
            @include breakpoint (medium only) {
            width: 50%;
            }
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: rgba(0,45,114,0.85);
        }        
      }
    }
    .tiktok-thumb:hover .overlay {
      opacity: 1;
    }    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }


  .youtube, .twitter, .instagram {
    h1 {
      font-size: 1.25rem;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
    }
    h1.twitter-byline {
      small {
        color: $dark-gray;
      }
    }
    padding: 1rem;
    border: 2px solid $grey;
    @include breakpoint(small) {
        @include grid-column(12);
      }

    @include breakpoint(medium) {
       @include grid-column(6);
      }
    @include breakpoint(large) {
      width: 48%; 
    }
  }
  .twitter {
    padding-left: 2rem !important;
    padding-right: 0 !important;
    .media-object {
      img:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
      }
    }
    .callout {
      //border-width: 2px;
    }
    a {
      &:hover {
        color: $black;
      }
    }    
  }
  .instagram {
    h1 {
      padding-left: 1rem;
    }
    img.gram {
      @include breakpoint(small) {
        display: block;
        margin: auto;
      }
      @include breakpoint (medium) {
        display: inherit;
        margin: inherit;
      }
      &:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
      }
    }
   .gram-link {
    margin-top: 2rem;
   }
   .instagram-card:not(:first-of-type) {
    @include breakpoint (small) {
      display: none;
    }
    @include breakpoint (medium) {
      display: inherit;
    }
   }
  }

  .twitter, .instagram {
    @include breakpoint(large) {
      height: rem-calc(325);
    }
  }
  .social {
    ul.menu {
      @include breakpoint(small) {
        margin-top: inherit;
        li {
          float: left;
        }
      }
      @include breakpoint(large) {
        margin-top: -50px;
        li {
            float: right;
          }
      }
      a {
      svg {
        &:hover {
          //https://css-tricks.com/change-color-of-svg-on-hover/
          filter: invert(62%) sepia(60%) saturate(364%) hue-rotate(168deg) brightness(91%) contrast(97%);
        }
      } 
      }     
    }
    li.menu-text {
      font-size: 1.6rem;
      font-family: $font-stack-semibold;
      font-weight: $font-stack-semibold-weight;
    }

  }
}

.magazine-background {
background-color: #fefefe;
background-image: url('../images/frontpage/ag-square.png');
  .magazine {
    @include grid-row();
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1.heading {
      @include breakpoint(small) {
        padding-left: 1rem;
      }
      @include breakpoint(xlarge) {
        padding-left: inherit;
      }
    }    
    .issue-cover {
      @include breakpoint (xlarge) {
        margin-left: -0.9375rem;
      }
      .card {
        @include breakpoint (medium down) {
        border: none;
        background: none;
        }
        .cover {
          @include breakpoint (small only) {
          width: 75%;
          }
        }
      }
    }
    button, .button {
      &:hover {
        background-color: $white;
        color: $heritageblue;
        border: 1px solid $heritageblue;
      }
    }
   .issue-stories {
      h2 {
        padding-left: 1rem;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
        font-size: 1.6rem;
      }
      .media-object-section {
        h3 {
          font-size: 1.4rem;
          margin-bottom: 0;
          font-family: $font-stack-bold;
          font-weight: $font-stack-bold-weight;
          a {
            &:hover {
              color: $black;
            }
          }
        }
        p {
          line-height: 1.3;
        }
      }
    }
  }
}

$giving-hero-height: 50vh;

.giving-hero {
  background: $heritageblue;
  background: url('../images/frontpage/homepage-giving-image.jpg') top right no-repeat;
  @include breakpoint (large) {
    height: $giving-hero-height;
  }
  background-size: cover;
  display: flex;
  align-items: center;
  @media screen and (min-width: 40em) {
    background-position: center center;
  }
  .giving-hero-content {
    max-width: $global-width;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
      color: $white;
      @include breakpoint (small) {
        font-size: 1.5rem;
      }
      @include breakpoint (large) {
        font-size: 2rem;
      }
    }
    .subheader {
      color: $white;
      @include breakpoint (small) {
        font-size: 1.25rem;
      }
      @include breakpoint (large) {
        font-size: 1.5rem;
      }
    }
    @media screen and (min-width: 64em) {
      padding-left: 35%;
    }
    button, .button {
      &:hover {
        background-color: $white;
        color: $heritageblue;
        border: 1px solid $heritageblue;
      }
    }    
  }
}

/*
.hero {
  &.front-c {
    //background-color: $white;
    //background-color: #fefefe;
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23fefefe' stroke-width='0.32' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(13.95) translate(-928.32 -696.24)'%3E%3Cuse fill='%23f9f9f9' href='%23s' y='2'/%3E%3Cuse fill='%23f9f9f9' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f4f4f4' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f4f4f4' href='%23s'/%3E%3Cuse fill='%23efefef' href='%23s' x='2'/%3E%3Cuse fill='%23efefef' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(13.95) translate(-928.32 -696.24)'%3E%3Cg fill='%23eaeaea'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(13.95) translate(-928.32 -696.24)'%3E%3Cg fill='%23eaeaea'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(13.95) translate(-928.32 -696.24)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(13.95) translate(-928.32 -696.24)'%3E%3Cg fill='%23fefefe'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(13.95) translate(-928.32 -696.24)'%3E%3Cg fill='%230022dd'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(13.95) translate(-928.32 -696.24)'%3E%3Cg fill='%230022dd'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(13.95) translate(-928.32 -696.24)'%3E%3Cg fill='%230022dd'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    //background-attachment: fixed;
    //background-size: cover;
    background-color: #fefefe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23fefefe' stroke-width='0.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(19 1000 750) scale(14.2) translate(-929.58 -697.18)'%3E%3Cuse fill='%23f9f9f9' href='%23s' y='2'/%3E%3Cuse fill='%23f9f9f9' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f4f4f4' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f4f4f4' href='%23s'/%3E%3Cuse fill='%23efefef' href='%23s' x='2'/%3E%3Cuse fill='%23efefef' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(19 1000 750) scale(14.2) translate(-929.58 -697.18)'%3E%3Cg fill='%23eaeaea'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(19 1000 750) scale(14.2) translate(-929.58 -697.18)'%3E%3Cg fill='%23eaeaea'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(19 1000 750) scale(14.2) translate(-929.58 -697.18)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(19 1000 750) scale(14.2) translate(-929.58 -697.18)'%3E%3Cg fill='%23fefefe'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(19 1000 750) scale(14.2) translate(-929.58 -697.18)'%3E%3Cg fill='%2368ace5'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(19 1000 750) scale(14.2) translate(-929.58 -697.18)'%3E%3Cg fill='%2368ace5'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(19 1000 750) scale(14.2) translate(-929.58 -697.18)'%3E%3Cg fill='%2368ace5'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  @include breakpoint(small) {
    .image-wrapper {
      order: 1;
      background-size: cover;
      background-position: center center;
      height: 18rem;
      display: block;
      width: 100%;
    }
    .content-wrapper {
      order: 2;
      display: block;
      margin-left: 0;
      padding: 3rem;
      text-align: left;
      width: 100%;
      .content-wrapper-text {
        //background: rgba(255,255,255, .55);
        backdrop-filter: blur(2px);
        p {
          font-size: 1.35rem;
          line-height: 1.5;
        }
      }
    }
  }
  @include breakpoint (large) {
    .image-wrapper {
      background-size: cover;
      background-position: center center;
      display: table-cell;
      width: 60%;
      height: rem-calc(475);
    }
    .content-wrapper {
      display: table-cell;
      padding: 2.25rem 3rem 2.25rem;
      width: 40%;
    }
  }

  @include breakpoint(xlarge) {
    .image-wrapper {
      width: 66%;
    }
    .content-wrapper {
      width: 33%;
    }
  }  
}*/