// Page header
#front-hero {
  .marketing {
    @include grid-row();
    max-width: 55rem;
  }

  @include breakpoint(small) {
    background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
    background-size: cover;
    background-position: bottom;
    padding: rem-calc(65%) 0;
    margin: 0 0 rem-calc(32);
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background: url('../images/frontpage/womens-lax.jpg') bottom center;
    background-size: cover;
    background-position: center;
    height: rem-calc(685);
    margin: 0 0 rem-calc(72);
  }

  #watch {
    @include breakpoint(small) {
      @include grid-column(7);
      @include grid-column-position(-5);
    }

    @include breakpoint(medium) {
      @include grid-column(12);
      @include grid-column-position(0);
    }

    section {
      display: inline;
    }

    a {
      color: #B4C9D1;
      cursor: pointer;
      font-weight: 400;
      margin-right: rem-calc(20);
    }

    a:hover {
      color: #fff;
    }

    #stargazers {
      :before {
        content: "\f09b";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: rem-calc(8);
      }
    }

    #twitter {
      :before {
        content: "\f099";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: rem-calc(8);
      }
    }

  }

  .tagline {
    @include breakpoint(small) {
      @include grid-column(8);
    }

    @include breakpoint(medium) {
      @include grid-column(5);
      padding-top: 6rem;
    }
  }

  h1 {
    color: #fff;
    font-weight: 500;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: rem-calc(20);
  }
}

// Intro
.intro {
  height: 25vh;
  margin-top: 2rem;
  .fp-intro {
    h1 {
      color: $blue;
      span.skyblue {
        color: $skyblue;
      }
      @include breakpoint(small) { 
        font-size: 1.25rem;
      }
      @include breakpoint(medium) {
        font-size: 2rem;
      }
    }
    @include breakpoint(small) {
      @include grid-column(12);
      margin: 1rem auto;
    }
    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);
      h2 {
        font-weight: 300;
        //margin-bottom: 1.5rem;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
    .card {
      border: none;
      text-align: center;
      font-weight: bold;
       &:hover {
            background: black;
      }
    }
  }
}

// Section divider
.section-divider {
  @include grid-row();

  hr {
    @include grid-column(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}

.grey-bg {
  @include breakpoint(medium) {
    background-color: $grey;
  &.texture {
     background: url(../images/frontpage/bg-at-glance.jpg) no-repeat fixed;
     background-size: cover;
  }
  }
}


// Benefits
.news {
  @include grid-row();
  text-align: left;
  .tabs, .tabs-content {
    background: rgba(255, 255, 255, 0.8);
     .main-content, .hub-news {
      background: $white;
    }
  }
  .tabs {
    margin-top: 1rem;
  }
  ul.tabs {
    border-top: 1px solid darken($grey, 25%);
    border-left: 1px solid darken($grey, 25%);
    border-right: 1px solid darken($grey, 25%); 
  }
  .tabs-content {
    border-bottom: 1px solid darken($grey, 25%);
    border-left: 1px solid darken($grey, 25%);
    border-right: 1px solid darken($grey, 25%);
  }
  .tabs-content, .accordion-item {   
      h1 {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .media-object-section {
        img {
          max-width: 75%;
        }
      }
      .hub-news, .hub-events {
          h1 {
            font-family: $font-subhead-book;
            font-weight: bold;
            font-size: 1rem;
          }
          p {
            font-family: $font-subhead-book;
          }
          .hub-img {
            padding-top: 1rem;
          }
        @include breakpoint(small) {
            @include grid-column(12);
        }
        @include breakpoint(medium) {
            @include grid-column(6);
        }
        @include breakpoint(large) {
            @include grid-column(3);
            height: 400px;
        }  
      }
      .hub-events {
        padding-top: 1rem;
        h3, h4 {
          font-size: .9rem;
          font-weight: bold;
        }
        p {
          font-size: .9rem;
        }
        @include breakpoint(medium) {
          @include grid-column(3);
          &:not(:last-child) {
            border-right: 1px solid $grey;
          }
        }
        @include breakpoint(large) {
          height: 300px;
        }
      }      
  }
  .tabs-title > a, a.accordion-title {
    font-size: 1rem;
    font-family: $font-subhead-book;
    font-weight: bold;
  }
  .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: $skyblue;
    color: $white;
  }
  .tabs-title > a {
    color: $blue;
  }

  li.is-active.accordion-item > a.accordion-title {
      background: $grey;
  }

  header {
    @include grid-column(12);

    h2 {
      font-weight: 300;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  .semantic,
  .responsive,
  .customizable,
  .professional {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(3);
    }

    img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto;
    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
    }

    p {
      font-size: 0.9375rem;
    }
  }

  .why-foundation {
    @include grid-row();
    @include grid-column(12);
    margin-top: 4rem;
  }
}


$marketing-site-hero-height: 50vh;

.marketing-site-hero {
  background: url('../images/frontpage/homepage-giving-image.jpg') top right no-repeat;
  @include breakpoint (large) {
    height: $marketing-site-hero-height;
  }
  background-size: cover;
  display: flex;
  align-items: center;
  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: $global-width;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  h1 {
    color: $white;
    @include breakpoint (small) {
      font-size: 1.5rem;
    }
    @include breakpoint (large) {
      font-size: 2rem;
    }
  }
  .subheader {
    color: $white;
    @include breakpoint (small) {
      font-size: 1.25rem;
    }
    @include breakpoint (large) {
      font-size: 1.5rem;
    }
  }
  @media screen and (min-width: 64em) {
    padding-left: 35%;
  }
}

.hero {
  background: transparent;
}
.fullscreen-image-slider {
   //@include flex-align($x: center, $y: stretch);
  .orbit-image {
    width: 100%;
    //height: 60vh;
  }
  .orbit-caption {
    p {
      font-family: $font-subhead-book;
      font-weight: bold;
    }
    @include breakpoint(small) {
      bottom: 0;
      width: 100%;
      h1 {
        font-size: 1rem;
      }
    }
    @include breakpoint(medium) {
      h1 {
        font-size: 1.75rem;
      }
    }
    @include breakpoint(large) {
    bottom: 15%;
    width: 35%;
    h1, p {
      padding-right: 1rem;
    }
    h1 {
      font-size: 2rem;
    }
    }
    @include breakpoint(xlarge) {
    bottom: 25%;
    width: 35%;
    }

  }
  .orbit-bullets {
    @include breakpoint(large) {
      margin-top: -2rem;
    }
    button {
      background-color: $white;
      &.is-active {
        background-color: $blue;
      }
    }
  }
  .orbit-previous, .orbit-next {
    .fa {
      font-weight: 800;
    }
  }
}


.connect {
  h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  p {
    font-family: $font-subhead-book;
  }
   @include grid-row();
  .youtube, .twitter, .instagram {
    padding: 1rem;
    border: 2px solid $grey;
    @include breakpoint(small) {
        @include grid-column(12);
      }

    @include breakpoint(medium) {
       @include grid-column(6);
      }
    @include breakpoint(large) {
      width: 48%; 
    }
  }
  .twitter {
    padding-left: 2rem !important;
    padding-right: 0 !important;
    .media-object {
      img:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
      }
    }
    .callout {
      //border-width: 2px;
    }
    h5 {
      font-weight: bold;
      small {
        color: $darkgrey;
      }
    }
  }
  .instagram {
   img.gram:hover {
      opacity: 0.3;
      filter: alpha(opacity=30);
   }
   .gram-link {
    margin-top: 2rem;
   }
  }

  .twitter, .instagram {
    @include breakpoint(large) {
      height: 275px;
    }
  }
  .social {
    ul.menu.align-right {
      @include breakpoint(small) {
        margin-top: inherit;
      }
    }
    ul.menu.align-right {
      @include breakpoint(large) {
        margin-top: -50px;
      }
    }
    li.menu-text {
      font-size: 1.6rem;
    }
  }
}

#twitter-widget-0 {
.TweetAuthor-name, .timeline-Tweet-text {
  font-family: $font-stack !important;
}
img.Avatar {
  display: none !important;
}
}

.programs {
  .button {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: $skyblue;
  }
  .block-text {
     position: relative;
  }
  img.big_image {
      position: absolute;
      height: inherit;
  }
  div.overlay_text {
    color: $white;
    position: absolute;
    left: 0;
    text-align: center;
    top: 80px;
    width: 100%;
      h2 {
        font-family: $font-subhead-book;
        @include breakpoint(medium) {
          font-size: 1.75rem;
        }
        @include breakpoint(large){
          font-size: 1.25rem;
        }
    }
}
}

img.large-news {
  padding: 2rem;
}


.program-bucket, {
    width: 100%;
    height: 100%;
    position: relative;
    img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
}


.bucket-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    //width: 93%;
   // max-height: 5.25rem;
    padding: 5%;
    color: $white;
    transition: all 0.8s;
    z-index: 3;
    overflow: hidden;
    h2 {
      font-size: 1.25rem;
      @include breakpoint (xlarge) {
        font-size: 1.5rem;
      }
    font-family: $font-subhead-book;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
  }
}


@media only screen and (min-width: 40.063em) {
.bucket-caption {
    width: 100%;
}
}
@media only screen and (min-width: 64.063em) {
.bucket-caption {
    max-height: 5.75rem;
}
}

.home-content {
  padding-bottom: 1rem;

  @include grid-col;

  @include breakpoint(large) {
    p {
      font-size: 1.35rem;
    }
    // Changes size only
    @include grid-col-size(10);

    // Changes position only
    @include grid-col-pos(1);
  }
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    //min-width: 320px;
    max-width: 320px;
    max-height: 215px;
    width: 31%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8;
    }
    figcaption {
      @include breakpoint (medium) {
         padding: 1.25em;
      }
      @include breakpoint (large) {
        padding: 2em;
      }
      
      color: #fff;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before, &::after {
        pointer-events: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
    h2 {
      //word-spacing: -0.15em;
      font-weight: 300;
      span {
        font-weight: 800;
      }
      margin: 0;
    }
    p {
      margin: 0;
      letter-spacing: 1px;
      font-size: 68.5%;
    }
  }
}

/* Common style */

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

/* Individual effects */

/*---------------*/
/***** Sarah *****/
/*---------------*/


figure.effect-sarah {
  background: #000;
  img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  figcaption {
    text-align: left;
  }
  h2 {
    text-align: center;
    font-family: $font-subhead-book;
    position: relative;
    overflow: hidden;
    padding: 0 0 0.5em;
    @include breakpoint (medium) {
      font-size: 1.25rem;
    }
    @include breakpoint (large) {
      font-size: 1.5rem;
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #fff;
      content: '';
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  &:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  p {
    font-family: $font-subhead-book;
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
     @include breakpoint (medium) {
      display: none;
    }
    @include breakpoint (large) {
      display: inherit;
    }
  }
  &:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily {
  img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }
  figcaption {
    text-align: left;
    > div {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2em;
      width: 100%;
      height: 60%;
    }
  }
  h2, p {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    font-family: $font-subhead-book;
  }
  h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  p {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
  }
  &:hover {
    img, p {
      opacity: 1;
    }
    img, h2 {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    p {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transition-duration: 0.35s;
      transition-duration: 0.35s;
    }
  }
}