.hero {
  background: transparent;
  .fullscreen-image-slider {
     //@include flex-align($x: center, $y: stretch);
    .orbit-image {
      width: 100%;
      //height: 60vh;
    }
    .orbit-caption {
      p {
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
      @include breakpoint(small) {
        bottom: 0;
        width: 100%;
        h1 {
          font-size: 1rem;
        }
      }
      @include breakpoint(medium) {
        h1 {
          font-size: 1.75rem;
        }
      }
      @include breakpoint(large) {
      bottom: 15%;
      width: 35%;
      h1, p {
        padding-right: 1rem;
      }
      h1 {
        font-size: 2rem;
      }
      }
      @include breakpoint(xlarge) {
      bottom: 25%;
      width: 35%;
      }

    }
    .orbit-bullets {
      @include breakpoint(large) {
        margin-top: -2rem;
      }
      button {
        background-color: $white;
        &.is-active {
          background-color: $heritageblue;
        }
      }
      [data-whatinput="mouse"] a:focus, button:focus [data-whatinput="touch"] a:focus, button:focus {
        background-color: $heritageblue;
        outline: -webkit-focus-ring-color auto 5px;
      }      
    }
    .orbit-previous, .orbit-next {
      .fa {
        font-weight: 800;
      }
    }
  }
  .front-hero {
    color: $white;
    .marketing {
      @include grid-row();
      max-width: 55rem;
    }

    @include breakpoint(small) {
      //background: url('../images/frontpage/homepage-slider-hero.jpg') bottom center;
      background-size: cover;
      background-position: top;
      padding: rem-calc(65%) 0;
      margin: 0 0 rem-calc(32);
      height: rem-calc(200);
      position: relative;
      text-align: left;
    }

    @include breakpoint(medium) {
      background-size: cover;
      background-position: top;
      height: 55vh;
    }

    .tagline {
      @include breakpoint(small) {
        @include grid-column(8);
      }

      @include breakpoint(medium) {
        @include grid-column(9);
        padding-top: 6rem;
      }
    }
    .caption {
      color: #fefefe;
     
      background-color: rgba(44,44,51,.66);
      @include breakpoint(large) {
        padding: 1rem 2rem;
        p {
          font-size: 1.125rem;
          font-family: $font-stack-semibold;
          font-weight: $font-stack-semibold-weight;
          line-height: 1.25;
        }
        h1 {
          font-size: 2rem;
          text-shadow: 2px 2px 2px #000;
          text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
        }
      }
      @include breakpoint (xlarge) {
        padding: 1.5rem 3rem;
        p {
           font-size: 1.2rem;
        }
      }
      @include breakpoint (xxlarge) {
        padding: 2rem 4rem;
        p {
           font-size: 1.25rem;
        }
      }     
    }
  }
}

// Intro
.intro {
  height: 25vh;
  margin-top: 2rem;
  .fp-intro {
    h1 {
      color: $heritageblue;
      span.skyblue {
        color: $black;
      }
      @include breakpoint(small) { 
        font-size: 1.25rem;
        text-align:center;
      }
      @include breakpoint(medium) {
        font-size: 1.5rem;
        text-align: inherit;
      }
      @include breakpoint(large) {
        font-size: 2rem;
      }
    }
    @include breakpoint(small) {
      @include grid-column(12);
      margin: 1rem auto;
    }
    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);
      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
    .card {
      border: none;
      text-align: center;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
       &:hover {
            background: black;
      }
    }
  }
  .home-content {
    padding-bottom: 1rem;
    @include breakpoint(large) {
      p {
        font-size: 1.35rem;
      }
      // Changes size only
      //@include grid-col-size(10);

      // Changes position only
      //@include grid-col-pos(1);
      h1 {
       text-align: center;
      }
    }
  }
  .programs {
    .button {
      margin: 1rem;
      font-size: 1.5rem;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
      background-color: $heritageblue;
      &:hover {
        background-color: $spiritblue;
        color: $black;
      }
    }
  }
  .grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    figure {
      position: relative;
      float: left;
      overflow: hidden;
      margin: 10px 1%;
      @include breakpoint (medium) {
        //min-width: 320px;
        max-width: 480px;
        max-height: 360px;
        width: 48%;      
      }
      @include breakpoint (large) { 
        max-width: 320px;
        max-height: 215px;
        width: 31%;
      }
      background: $heritageblue;
      text-align: center;
      cursor: pointer;
      img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
      }
      figcaption {
        @include breakpoint (medium) {
           padding: 1em;
        }
        @include breakpoint (large) {
          padding: 2em;
        }
        
        color: $white;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before, &::after {
          pointer-events: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
          text-indent: 200%;
          white-space: nowrap;
          font-size: 0;
          opacity: 0;
        }
      }
      h2 {
        margin: 0;
        @include breakpoint (small) {
          font-size: 1.25rem;
        }
        @include breakpoint (medium) {
          font-size: 1.5rem;
        }
        @include breakpoint (large) {
          font-size: 1.5rem;
        }
      }
      p {
        margin: 0;
        letter-spacing: 1px;
         @include breakpoint (medium) {
          font-size: 70%;
        }
        @include breakpoint (large) {
          font-size: 68.5%;
        }
      }
    }
  }
  figure.effect-oscar {
    img {
      opacity: 0.9;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }
    figcaption {
      &::before {
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        @include breakpoint (large) {
          border: 1px solid $white;
        }
        content: '';
      }
    }
    h2 {
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
      margin: 0 0 10px 0;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      
    }
    figcaption::before, p {
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &:hover {
      h2 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      figcaption::before, p {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      figcaption {
        background-color: rgba(58, 52, 42, 0);
      }
      img {
        opacity: 0.4;
      }
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1178px) {
    figure.effect-oscar { 
       figcaption {
        h2 {
          font-size: 1.25rem;
        }
        p {
          font-size: 60%;
        }
         &::before {
          border: none;
        }
      }
    }
  }

  @media screen and (min-width: 640px) and (max-width: 675px) {
  .grid figure h2 {
    font-size: 1.125rem;
  }
  }

}

// Section divider
.section-divider {
  margin: 2rem 0;
  @include grid-row();
  hr {
    @include grid-column(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}

.texture {
  @include breakpoint (large) {
    //background: url(../images/frontpage/bg-campus-students.jpg) no-repeat fixed;
    //background-size: cover;
    background: url('https://krieger.jhu.edu/wp-content/uploads/2020/02/topography-400px.png');
  }
  margin-bottom: 2rem;
  hr {
    border-bottom: 1px solid transparent;
  }
  @include breakpoint(medium) {
    background-color: $grey;
  }
}

// News
.news {
  @include grid-row();
  text-align: left;
  .tabs, .tabs-content {
    background: rgba(255, 255, 255, 0.8);
     .main-content, .hub-news,  h1.hub-title a {
      background: $white;
    }
  }
  h1.hub-title {
    a {
      padding: 1rem;
    }
  }
  .tabs {
    margin-top: 1rem;
  }
  ul.tabs {
    border-top: 1px solid darken($grey, 25%);
    border-left: 1px solid darken($grey, 25%);
    border-right: 1px solid darken($grey, 25%); 
  }
  .tabs-content {
    border-bottom: 1px solid darken($grey, 25%);
    border-left: 1px solid darken($grey, 25%);
    border-right: 1px solid darken($grey, 25%);
  }
  .tabs-content, .accordion-item {   
      h1 {
        font-size: 1.25rem;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
      .media-object-section {
        img {
          max-width: 75%;
        }
      }
      .hub-news, .hub-events {
          h1 {
            font-family: $font-stack-bold;
            font-weight: $font-stack-bold-weight;
            font-size: 1rem;
          }
          p {
            font-family: $font-subhead-book;
            font-weight: $font-subhead-book-weight;
            font-size: .9rem;
          }
          .hub-img {
            padding-top: 1rem;
          }
          summary {
            list-style-type: none;
          }
        @include breakpoint(small) {
            @include grid-column(12);
        }
        @include breakpoint(medium) {
            @include grid-column(6);
        }
        @include breakpoint(large) {
            @include grid-column(3);
            //height: 400px;
        }  
      }
      .hub-events {
        padding-top: 1rem;
        h3, h4 {
          font-size: .9rem;
          font-family: $font-stack-bold;
          font-weight: $font-stack-bold-weight;
        }
        p {
          font-size: .9rem;
        }
        @include breakpoint(medium) {
          @include grid-column(3);
          &:not(:last-child) {
            border-right: 1px solid $grey;
          }
          &.end:last-child:last-child {
            float: left;
          }
        }
        @include breakpoint(large) {
          //height: 300px;
        }
      }
      .hub-news.story {
        @include breakpoint(large) {
          //height: 475px;
        } 
      }     
  }
  .tabs-title > a, a.accordion-title {
    font-size: 1rem;
    font-family: $font-stack-bold;
    font-weight: $font-stack-bold-weight;
  }
  .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: $heritageblue;
    color: $white;
  }
  .tabs-title > a {
    color: $heritageblue;
  }

  li.is-active.accordion-item > a.accordion-title {
      background: $grey;
  }

  header {
    @include grid-column(12);
    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  #spotlight {
    .home-news {
      background: $white;
    }
    h1 {
      @include breakpoint(large) {
        margin-top: 1rem;
        font-size: 1.75rem;
        font-family: $font-header;
        font-weight: $font-header-weight;
      }
      small {
        text-transform: uppercase;
        font-size: 55%;
        color: $dark-gray;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
      }
    }
    img.large-news {
      padding: 2rem;
    }
    .home-video {
      //padding: 1rem;
      .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 100;
          background: transparent;
        }
        img {
          bottom: 0;
          display: block;
          left: 0;
          margin: auto;
          max-width: 100%;
          width: 100%;
          position: absolute;
          right: 0;
          top: 0;
          border: none;
          height: auto;
          cursor: pointer;
          -webkit-transition: .4s all;
          -moz-transition: .4s all;
          transition: .4s all;
          &:hover {
            -webkit-filter: brightness(75%);
          }
        }
        .play {
          height: 72px;
          width: 72px;
          left: 50%;
          top: 50%;
          margin-left: -36px;
          margin-top: -36px;
          position: absolute;
          background: url("//i.imgur.com/TxzC70f.png") no-repeat;
          cursor: pointer;
        }
      }           
    }
  }
}

.connect {
  h1.heading {
    @include breakpoint(small) {
      padding-left: 1rem;
    }
    @include breakpoint(large) {
      padding-left: inherit;
    }
  }
  p, li {
    font-family: $font-subhead-book;
    font-weight: $font-subhead-book-weight;
  }
  .links {
    @include grid-row();
  }

  .feed {

    .feeds {
       $row-width: em-calc(1000);
    }
    .insta {
      border: 2px solid $grey;
    }
    .tiktok {
      //position: relative;
      border: 2px solid $grey;
      padding: .5rem;
      
     .tiktok-thumb {
        //position: absolute;
        position: relative;
        overflow: hidden;
        @include breakpoint (medium) {
          max-height: 570px;
        }
        img {
          //max-height: 560px;
          //-webkit-transition: 0.6s ease;
          //transition: 0.6s ease;
        }
        .image {
            opacity: 1;
            display: block;
            @include breakpoint (medium only) {
            width: 50%;
            }
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: rgba(0,45,114,0.85);
        }        
      }
    }
    .tiktok-thumb:hover .overlay {
      opacity: 1;
    }    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }


  .youtube, .twitter, .instagram {
    h1 {
      font-size: 1.25rem;
      font-family: $font-stack-bold;
      font-weight: $font-stack-bold-weight;
    }
    h1.twitter-byline {
      small {
        color: $dark-gray;
      }
    }
    padding: 1rem;
    border: 2px solid $grey;
    @include breakpoint(small) {
        @include grid-column(12);
      }

    @include breakpoint(medium) {
       @include grid-column(6);
      }
    @include breakpoint(large) {
      width: 48%; 
    }
  }
  .twitter {
    padding-left: 2rem !important;
    padding-right: 0 !important;
    .media-object {
      img:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
      }
    }
    .callout {
      //border-width: 2px;
    }
    a {
      &:hover {
        color: $black;
      }
    }    
  }
  .instagram {
    h1 {
      padding-left: 1rem;
    }
    img.gram {
      @include breakpoint(small) {
        display: block;
        margin: auto;
      }
      @include breakpoint (medium) {
        display: inherit;
        margin: inherit;
      }
      &:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
      }
    }
   .gram-link {
    margin-top: 2rem;
   }
   .instagram-card:not(:first-of-type) {
    @include breakpoint (small) {
      display: none;
    }
    @include breakpoint (medium) {
      display: inherit;
    }
   }
  }

  .twitter, .instagram {
    @include breakpoint(large) {
      height: rem-calc(325);
    }
  }
  .social {
    ul.menu {
      @include breakpoint(small) {
        margin-top: inherit;
        li {
          float: left;
        }
      }
      @include breakpoint(large) {
        margin-top: -50px;
        li {
            float: right;
          }
      }
      a {
      svg {
        &:hover {
          //https://css-tricks.com/change-color-of-svg-on-hover/
          filter: invert(62%) sepia(60%) saturate(364%) hue-rotate(168deg) brightness(91%) contrast(97%);
        }
      } 
      }     
    }
    li.menu-text {
      font-size: 1.6rem;
      font-family: $font-stack-semibold;
      font-weight: $font-stack-semibold-weight;
    }

  }
}

.magazine-background {
  background-color: #fefefe;
  background-image: url('../images/frontpage/ag-square.png');
  .magazine {
    @include grid-row();
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1.heading {
      @include breakpoint(small) {
        //padding-left: 1rem;
      }
      @include breakpoint(xlarge) {
        //padding-left: inherit;
      }
      color: $black;
      small {
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
        color: $black;
        font-size: 90%;
        margin-left: 1rem;
        @include breakpoint(small only) {
          line-height: 1.1;
          margin-left: inherit;
        }
      }
    }    
    .issue-cover {
      @include breakpoint (xlarge) {
        //margin-left: -0.9375rem;
      }
      @include breakpoint (medium down) {
        .cover {
          margin-top: .5rem;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
      }
      .card {
        @include breakpoint (medium down) {
        border: none;
        background: none;
        }
        .cover {
          @include breakpoint (small only) {
          width: 75%;
          }
        }
      }
    }
    button, .button {
      &:hover {
        background-color: $white;
        color: $heritageblue;
        border: 1px solid $heritageblue;
      }
    }
   .issue-stories {
      h2 {
        padding-left: 1rem;
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
        font-size: 1.6rem;
      }
      .media-object-section {
        h3 {
          font-size: 1.4rem;
          margin-bottom: 0;
          font-family: $font-stack-bold;
          font-weight: $font-stack-bold-weight;
          a {
            &:hover {
              color: $black;
            }
          }
          small {
            color: $black;
            font-size: 100%;
          }
        }
        p {
          line-height: 1.3;
        }
        .dean-portrait {
          @include breakpoint (small only) {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
          }
          @include breakpoint (medium) {
            max-width: 250px;
          }
        }
      }
    }
  }
}

$giving-hero-height: 50vh;

.giving-hero {
  background: $heritageblue;
  background: url('../images/frontpage/homepage-giving-image.jpg') top right no-repeat;
  @include breakpoint (large) {
    height: $giving-hero-height;
  }
  background-size: cover;
  display: flex;
  align-items: center;
  @media screen and (min-width: 40em) {
    background-position: center center;
  }
  .giving-hero-content {
    max-width: $global-width;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
      color: $white;
      @include breakpoint (small) {
        font-size: 1.5rem;
      }
      @include breakpoint (large) {
        font-size: 2rem;
      }
    }
    .subheader {
      color: $white;
      @include breakpoint (small) {
        font-size: 1.25rem;
      }
      @include breakpoint (large) {
        font-size: 1.5rem;
      }
    }
    @media screen and (min-width: 64em) {
      padding-left: 35%;
    }
    button, .button {
      &:hover {
        background-color: $white;
        color: $heritageblue;
        border: 1px solid $heritageblue;
      }
    }    
  }
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/frontpage/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick/slick.eot');
    src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
