/*
Description: Used to style the content editor in posts and pages
*/

@font-face {
  font-family: 'quadon';
  src: url('../assets/fonts/quadon/Quadon-Medium.eot');
  src: url('../assets/fonts/quadon/Quadon-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/quadon/Quadon-Medium.woff') format('woff'),
       url('../assets/fonts/quadon/Quadon-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gentona-light';
  src: url('../assets/fonts/gentona/Gentona-Light.eot');
  src: url('../assets/fonts/gentona/Gentona-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/gentona/Gentona-Light.woff') format('woff'),
       url('../assets/fonts/gentona/Gentona-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gentona-semibold';
  src: url('../assets/fonts/gentona/Gentona-SemiBold.eot');
  src: url('../assets/fonts/gentona/Gentona-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/gentona/Gentona-SemiBold.woff') format('woff'),
       url('../assets/fonts/gentona/Gentona-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body { 
    font-family: "gentona-light","Helvetica Neue",Roboto,sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #31261d;
}

/* TinyMCE Editor */
.editor-styles-wrapper p strong,
.editor-rich-text p strong {
    font-family: "gentona-semibold","Helvetica Neue",Roboto,sans-serif;
    font-weight: 600;
}


.rich-text.editor-rich-text__editable.block-editor-rich-text__editable.wp-block-button__link {
    font-size: 18px;
}

/* Links */
.editor-block-list__layout a {
  color: #002d72;
}

.editor-block-list__layout a:hover {
  color: #31261d;
}


.wp-block-file *+.wp-block-file__button {
    display: none;
}

.wp-block-button__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: .85em 1em;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-family: inherit;
    font-size: .9rem;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #002d72;
    color: #fefefe;
}

.wp-block-button__link:hover {
    background-color: #00050c;
    color: #fff;
}

/* The Post Title */
.editor-post-title__block .editor-post-title__input {
    font-family: "quadon", "Helvetica Neue", Roboto, sans-serif;
    font-weight: 400;
}

/* Headings */
.editor-writing-flow .wp-block h1 {
    font-family: "quadon", "Helvetica Neue", Roboto, sans-serif;
    font-weight: 400;
}
.editor-writing-flow .wp-block h2,
.editor-writing-flow .wp-block h3,
.editor-writing-flow .wp-block h4,
.editor-writing-flow .wp-block h5,
.editor-writing-flow .wp-block h6{
    font-family: "gentona-semibold","Helvetica Neue",Roboto,sans-serif;
    font-weight: 600;
}

/* Blockquote styles */
.wp-block blockquote {
    font-style: italic;
    color: #aaa;
    margin-left: 20px;
    border-left: 0;
    padding-left: 0;
}

.wp-block blockquote .editor-rich-text {
    padding-left: 3rem;
}

.wp-block blockquote:before {
    color: #ccc;
    content: '\201C' !important;
    font-size: 4em;
    position: absolute;
    top: 10px;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}