/* Alert */
.alert-bar {
    background-color: $secondarymaroon;
    color: $white;
    text-align: center;
    padding: .5rem;
    &:hover, &:focus, &:focus-within {
        background-color:$rust;
        transition: background-color 250ms ease-in-out,color 250ms ease-in-out;
    }      
    a {
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
        width: 100%;
        border: none;
        display: block;
        color: $white;
        &:focus, &:focus-within {
            display: initial;
            outline: -webkit-focus-ring-color auto 5px;
        }              
    }    
}

.schema-faq.wp-block-yoast-faq-block {
    .schema-faq-section {
        border-bottom: 1px solid $grey;
        padding-top: 1rem;
        .schema-faq-question {
            line-height: 1.6;
            font-family: $font-stack-bold;
            font-weight: $font-stack-bold-weight;
            font-size: 1.25rem;
        }
        .schema-faq-answer {

        }
    }
}