/* Alert */
.alert-bar {
    background-color: $accessiblue;
    color: $white;
    text-align: center;
    padding: .5rem;
    &:hover, &:focus, &:focus-within {
        background-color:$accessiblue;
        transition: background-color 250ms ease-in-out,color 250ms ease-in-out;
    }      
    a {
        font-family: $font-stack-bold;
        font-weight: $font-stack-bold-weight;
        width: 100%;
        border: none;
        display: block;
        color: $white;
        &:focus, &:focus-within {
            display: initial;
            outline: -webkit-focus-ring-color auto 5px;
        }              
    }    
}

.schema-faq.wp-block-yoast-faq-block {
    .schema-faq-section {
        border-bottom: 1px solid $grey;
        padding-top: 1rem;
        .schema-faq-question {
            line-height: 1.6;
            font-family: $font-stack-bold;
            font-weight: $font-stack-bold-weight;
            font-size: 1.25rem;
        }
        .schema-faq-answer {

        }
    }
}

.main-content.covid {
    .entry-content {
        h4 {
            line-height: 1.6;
            font-family: $font-stack-bold;
            font-weight: $font-stack-bold-weight;
            font-size: 1.25rem;
            margin-bottom: 0;
        }
        .wp-block-group {
            border-bottom: 1px solid $grey;
            padding-top: 1rem;
            &.new-faq {
                .wp-block-group__inner-container {
                    //@include callout($warning-color);
                    h4 {
                        &::before {
                            font-family: "Font Awesome 5 Free", $font-stack-bold; 
                            font-weight: 900; 
                            content: "\f06a" " NEW";
                            margin-right: .5rem;
                            color: $green;
                            display: block;
                        }
                    }
                }
                
            }
            &.callout {
                border: 1px solid rgba(10,10,10,.25);
            }
        }
    }
    .callout.secondary.resources, .callout.alert {
        h2 {
            font-size: 1.6rem;
        }
        p, li {
            a {
                @include link;
            }
        }
    }
    .callout.alert {
        p {
            font-family: $font-stack-semibold;
            font-weight: $font-stack-semibold-weight;
        }
    }
    .wp-block-columns.expanded.button-group {
        a.wp-block-button__link {
            &:hover {
                background: $white;
                color: $heritageblue;
                border: 1px solid $heritageblue;
                padding: .75rem;
            }
        }
    }
}