/* Alert */
.alert {
    background-color: $secondarymaroon;
    color: $white;
    text-align: center;
	a {
		font-family: $font-stack-bold;
		font-weight: $font-stack-bold-weight;
		width: 100%;
    	padding: .5em;
    	padding-right: 2.75em;
   		border: none;
    	display: block;
    	color: $white;
    	line-height: 1em;
	}
	&:hover {
		background-color:$rust;
    	transition: background-color 250ms ease-in-out,color 250ms ease-in-out;
	}
}
