.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.close-button {
  &:hover, &:focus {
    color: $black;
    box-shadow: inset 0 -2px 0 $skyblue;
    transition: color 0.1s ease-out;
    text-decoration: none;
  }
}

.main-content {
  .button {
    font-family: $font-stack-semibold;
    font-weight: $font-stack-semibold-weight;
    background-color: $blue;
  }
}