.callout.primary.quote {
	float: right;
	border: none;
	font-family: $font-stack-bold;
	background: $powderblue;
	@include breakpoint (medium) {
		width: 45%;
		margin-left: 1.25rem;
	}
	
}

.callout.lightgrey {
	background-color: $lightgrey;
}