#featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(100);

  @include breakpoint(medium) {
    height: rem-calc(200);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(400);
  }
}

#featured-hero {
    position: relative;
    .row {
      h1.entry-title {
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        padding: 4px 8px;
        color: white;
        margin: 0;
      }
    }
}