.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(200);
  position: relative;
  /*.row {
    h1.entry-title {
      bottom: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.85);
      @include breakpoint (small) {
        font-size: 1.5rem;
        padding: 4px 8px;
      }
      @include breakpoint (large) {
        font-size: 2rem;
        padding: 4px 2rem;
      }
      color: white;
      margin: 0;
    }
  }*/
  .orbit-caption {
    padding: .5rem 0;
    background: rgba(0, 0, 0, 0.85);
    h1 {
      font-size: 3rem;
      @include breakpoint(small) {
        @include grid-column(12);
      }
      @include breakpoint(large) {
        @include grid-column(8);
        @include grid-col-pos(1);
      }
    }
  }
}

.page-template-parent-page, .page-template-parent-page-no-buckets {
  .featured-hero {
    @include breakpoint(medium) {
      height: rem-calc(300);
    }

    @include breakpoint(xlarge) {
      height: rem-calc(400);
    }
  }
}

.page-template-parent-page-no-buckets {
   .featured-hero {
     .orbit-caption {
      h1 {
        @include breakpoint(small) {
          @include grid-column(12);
        }
        @include breakpoint(large) {
          @include grid-column(8);
          @include grid-col-pos(0);
        }
      }
    }
  }
}