.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(200);

  @include breakpoint(medium) {
    height: rem-calc(300);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(400);
  }
}

.featured-hero {
    position: relative;
    .row {
      h1.entry-title {
        bottom: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.85);
        @include breakpoint (small) {
          font-size: 3rem;
          padding: 4px 8px;
        }
        @include breakpoint (large) {
          font-size: 4rem;
          padding: 4px 2rem;
        }
        color: white;
        margin: 0;
      }
    }
}