/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
  }
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
  &.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    .isotope-item {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s;
    }
  }
  .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
}

/**** disabling Isotope CSS3 transitions ****/

/* End: Recommended Isotope styles */


li.person {
  margin-bottom: 15px;
  width: 90%;
  min-height: 95px;
  padding: 3px 10px 0 10px;
}

.study-fields {
  .button {
    margin: .5rem;
    font-family: $font-stack-bold;
    &.is-checked {
      background-color: transparent;
      border: 1px solid $blue;
      color: $blue;
    } 
  }
  .button.undergrad_program {
    background: $skyblue;
    &.is-checked {
      background-color: transparent;
      border: 1px solid $skyblue;
      color: $skyblue;
    }    
  }
  .button.full_time_program {
    background: $fushia;
    &.is-checked {
      background-color: transparent;
      border: 1px solid $fushia;
      color: $fushia;
    }      
  }
  .button.part_time_program {
    background: $orange;
    &.is-checked {
      background-color: transparent;
      border: 1px solid $orange;
      color: $orange;
    }     
  }
}


.field {
  @include breakpoint(small) {
    margin-bottom: 1.25rem;
    max-width: 250px;
    border: .1875em solid black;
    border-width: .25em;
    border: none;
    min-height: 150px;
  } 
  @include breakpoint(medium) {
    max-width: 275px;
    border: .1875em solid black;
    border-width: .25em;
  }
  @include breakpoint(large) {
    min-height: 255px;
    margin-bottom: 30px;
    max-width: 305px;
    min-width: 240px;
    border: .1875em solid black;
    border-width: .25em;
  }
  p {
    color: $black;
    font-size: .9rem;
    line-height: 1.3;
    font-family: $font-subhead-book;
  }
  p.contact {
    font-size: 13px;
    margin-bottom: 10px;
  }
  h3 {
    font-family: $font-subhead-book;
    font-size: 1.4rem;
  }
  button {
    font-family: $font-subhead-light;
    &.button.major {
      background-color: $green;
    }
    &.button.minor {
      background-color: $red;
    }
    &.button.degrees {
      background-color: $purple;
    }
  }
}
ul.fields-of-study li {
  font-size: 1rem;
}
.field .floatright {
  margin-left: 0;
}
.border-undergrad_program {
  border-top: .75em solid $skyblue;
}
.border-full_time_program {
  border-top: .75em solid $fushia;
}
.border-full_time_program.undergrad_program {
  position: relative;
  border-top: .75em solid $skyblue;
}
.border-full_time_program.undergrad_program:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  border-top: .75em solid $fushia;
}
.border-part_time_program {
  border-top: .75em solid $orange;
}
.disciplines {
  height: 15px;
}
.ribbon {
  margin-left: 10px;
  float: right;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope {

  /* change duration value to whatever you like */
  transition-duration: 0.8s;
  transition-property: height, width;

  .isotope-item {

    /* change duration value to whatever you like */
    transition-duration: 0.8s;
    transition-property: transform, opacity;
  }
  h3 {
    color: $black;
  }
}

#filters {
  li { 
    @include breakpoint(small) {
      display: list-item;
    }
    @include breakpoint(medium) {
      display: table-cell;
    }
  }
}

.study-fields-contact {
  margin-bottom: 1rem;
   h4 {
    small {
      color: $skyblue;
    }
   }
}