/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
  }
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
  &.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    .isotope-item {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s;
    }
  }
  .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
}

/**** disabling Isotope CSS3 transitions ****/

/* End: Recommended Isotope styles */


li.person {
  margin-bottom: 15px;
  width: 90%;
  min-height: 95px;
  padding: 3px 10px 0 10px;
}

.study-fields {
  .button {
    margin: .5rem;
    font-family: $font-stack-bold;
    font-weight: $font-stack-bold-weight;
    font-size: .88rem;
    background-color: $black;
    color: $white;
    &.is-checked {
      background-color: transparent;
      border: 1px solid $black;
      color: $black;
    }
    @include breakpoint(medium only) {
      font-size: 1.25rem;
    }
    @include breakpoint(large) {
      //padding: 1rem;
    }
  }
  .button.undergrad_program {
    background: $heritageblue;
    &.is-checked {
      background-color: transparent;
      border: 1px solid $heritageblue;
      color: $heritageblue;
    }    
  }
  .button.full_time_program {
    background: $spiritblue;
    color: black;
    &.is-checked {
      background-color: transparent;
      border: 1px solid $spiritblue;
      color: $black;
    }      
  }
  .button.part_time_program {
    background: $powderblue;
    color: $black;
    &.is-checked {
      background-color: transparent;
      border: 1px solid $powderblue;
      color: $black;
    }     
  }
  label.heading {
    font-size: inherit;
  }
}


.field {
  @include breakpoint(small) {
    margin-bottom: 1.25rem;
    //max-width: 250px;
    border: .1875em solid $black;
    min-height: 150px;
  } 
  @include breakpoint(medium) {
    //max-width: 275px;
    border-width: .25em;
  }
  @include breakpoint(large) {
    min-height: 255px;
    margin-bottom: 30px;
    //max-width: 305px;
    //min-width: 240px;
  }
  p {
    color: $black;
    font-size: .9rem;
    line-height: 1.3;
    font-family: $font-subhead-book;
    font-weight: $font-subhead-book-weight;
  }
  p.contact {
    font-size: 13px;
    margin-bottom: 10px;
  }
  h3 {
    font-family: $font-stack-bold;
    font-weight: $font-stack-bold-weight;
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  .button {
    padding: .3rem;
    cursor: auto;
    //border-radius: .25rem;
    font-family: $font-subhead-book;
    font-weight: $font-subhead-book-weight;
    font-size: 1rem !important;
    &.button.major, &.button.minor {
      background-color: transparent;
      border: 1px solid $black;
      color: $black;
    }
    &.button.degrees {
      background-color: $black;
    }
  }
}


.fields-of-study {
    position: relative;
    overflow: hidden;
}

.fields-of-study:after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 2%;
    left: 50%;
    margin: -24px 0 0 -24px;
    width: 75px;
    height: 75px;
    background: url(../images/icons/loading.gif) no-repeat 0 0;
}

.fields-of-study.loading .item {
    opacity: 0;
}
.fields-of-study.loading:after {
    opacity: 1;
}

.fields-of-study,
.fields-of-study:after {
    transition: 750ms opacity;
}


#isotope-list{
  .level-color {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    .color {
    height: 1em;
    float: left;
    background-color: #000;
    }
    .color.undergrad_program {
      background-color: $heritageblue;
    }
    .color.full_time_program {
      background-color: $spiritblue;
    }
    .color.part_time_program {
      background-color: $powderblue;
    }
    .color.full_time_program.undergrad_program {
      background: linear-gradient(to left, $spiritblue 50%, $heritageblue 50%);
    }
  }
  .color {
    width: 100%;
  }
}
ul.fields-of-study li {
  font-size: 1rem;
}
.field .floatright {
  margin-left: 0;
}
/*
.border-undergrad_program {
  border-top: .75em solid $skyblue;
}
.border-full_time_program {
  border-top: .75em solid $aqua;
}
.border-full_time_program.undergrad_program {
  position: relative;
  border-top: .75em solid $skyblue;
}
.border-full_time_program.undergrad_program:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  border-top: .75em solid $aqua;
}
.border-part_time_program {
  border-top: .75em solid $gold;
}
*/
.disciplines {
  height: 15px;
}
.ribbon {
  margin-left: 10px;
  float: right;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope {

  /* change duration value to whatever you like */
  transition-duration: 0.8s;
  transition-property: height, width;

  .isotope-item {

    /* change duration value to whatever you like */
    transition-duration: 0.8s;
    transition-property: transform, opacity;
  }
  h3 {
    color: $black;
  }
}

#filters {
  li { 
    @include breakpoint(small) {
      display: list-item;
    }
    @include breakpoint(large) {
      display: table-cell;
    }
  }
}

.study-fields-contact {
  margin-bottom: 1rem;
   h4 {
    small {
      color: $skyblue;
    }
   }
  .website, .email, .office {
    display: inline;
    padding-right: 1rem;
  }
}