// Apply outline styles only when input method is keyboard
// remove :focus style via What Input using progressive enhancement
// so :focus isn't left broken if JavaScript fails

[data-whatinput="mouse"] a:focus, button:focus
[data-whatinput="touch"] a:focus, button:focus {
  outline: none;
}

.breadcrumbs {
	@include breakpoint (small) {
		@include grid-column(12);
	}
	@include breakpoint (large) {
		@include grid-column(9);
    	@include grid-col-pos(3);
    	li { 
    		font-size: .75rem;
    	}
    }
    a {
        color: $blue;
        &:hover {
          color: $black;
        }
    }
}

.main-wrap.full-width {
    .breadcrumbs {
        @include breakpoint (small) {
            @include grid-column(12);
        }
        @include breakpoint (large) {
            @include grid-column(12);
            @include grid-col-pos(0);
        }
    }
}

.pagination {
  a, button {
    color: $black;
    border: none;
  }
  .current {
    background: $blue;
    a:hover {
      background: transparent;
      border: none;
    }
  }
}

.search-404 {
  list-style: none;
  form {
    margin-top: 1rem;
    width: 50%;
    input {
      &[type="text"] {
        margin-bottom: 0rem;
      }
      &[type="submit"] {
        font-family: $font-awesome;
      }
    }
  }
}

.entry-content, #noResult {
  p, li {
    a {
    @include link;
      &.button {
        &:hover, &:active {
        border: none;
        } 
      }
    }
  }
  ul.accordion {
    li.accordion-item {
      .accordion-content {
        ul {
          li {
            a {
               @include link;
            }
          }
        }
      }
    }
  }
}

.people.role-leadership {
  p {
    a {
      @include link;
    }
  }
}