// Apply outline styles only when input method is keyboard
// remove :focus style via What Input using progressive enhancement
// so :focus isn't left broken if JavaScript fails

[data-whatinput="mouse"] a:focus, button:focus
[data-whatinput="touch"] a:focus, button:focus {
  outline: none;
}

.breadcrumbs {
	@include breakpoint (small) {
		@include grid-column(9);
    	@include grid-col-pos(1);
	}
	@include breakpoint (large) {
		@include grid-column(9);
    	@include grid-col-pos(3);
    	li { 
    		font-size: .75rem;
    	}
    }
}