body {
  font-family: $font-stack;
  font-weight: 300;
  font-style: normal;
  font-size: $global-font-size * 1.125
}

h1, h2 {
  font-family: $font-header;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 2rem;
}

h3, h4, h5, h6, .semibold, blockquote {
  font-family: $font-subhead-book;
  font-weight: 400;
  font-style: normal;
}

.main-content {
  a {
    color: $blue;
    border-bottom: .125em dotted;
    border-bottom-color: rgba(0,0,0,.2);
    &:hover, &:active {
        color: $black;
        border-bottom-style: solid;
    }
  }
  a.button {
    color: $white;
    border: none;
  }
  .tabs-title {
    a {
      border: none;
    }
  }
  p {
    strong {
      font-family: $font-stack-bold;
    }
  }
}

#parent-menu {
  .card-section {
  a {
      color: $blue;
      border-bottom: .125em dotted;
      border-bottom-color: rgba(0,0,0,.2);
      &:hover, &:active {
          color: $black;
          border-bottom-style: solid;
      }
    }
  }
}

.tabs-content, .accordion-item {   
  h1 {
    font-size: 1.25rem;
    font-family: $font-stack-bold;
  }
}
.tabs-title > a, a.accordion-title {
  font-size: 1rem;
  font-family: $font-subhead-book;
  font-weight: bold;
}