body {
  font-family: $font-stack;
  font-style: normal;
  font-size: $global-font-size * 1.125
}

h1, h2 {
  font-family: $font-header;
  font-style: normal;
}

h1 {
  font-size: 2rem;
}

h3, h4, h5, h6, .semibold, blockquote {
  font-family: $font-subhead-book;
}

.main-content {
  a {
    color: $blue;
    border-bottom: .125em dotted;
    border-bottom-color: rgba(0,0,0,.2);
    &:hover, &:active {
        color: $black;
        border-bottom-style: solid;
    }
  }
  a.button {
    color: $white;
    border: none;
  }
  .tabs-title {
    a {
      border: none;
    }
  }
  p {
    strong {
      font-family: $font-stack-bold;
    }
  }
  .blogpost-entry {
    h1, h2 {
      font-size: 2rem;
      font-family: $font-stack-bold;
      small {
        text-transform: uppercase;
        font-size: 55%;
        color: $dark-gray;
      }
      a {
        .icon-new-tab2 {
          font-size: 1.25rem;
        }
      }
    }
    time.updated {
      font-family: $font-stack-bold;
    }
  }
  ul.accordion {
    li.accordion-item {
      a.accordion-title {
        border: 1px solid #e6e6e6;
        border-bottom: 0;
      }
    }

  }
}

.tabs-content, .accordion-item {   
  h1 {
    font-size: 1.25rem;
    font-family: $font-stack-bold;
  }
}
.tabs-title > a, a.accordion-title {
  font-size: 1rem;
  font-family: $font-subhead-book;
  font-weight: bold;
}

.ecpt-page-sidebar {
  .sidebar-content {
    p {
      a {
        color: darken($blue, 20%);
        border-bottom: .125em dotted;
        border-bottom-color: rgba(0,0,0,.2);
        &:hover, &:active {
            color: $black;
            border-bottom-style: solid;
        }
      }
      strong {
        font-family: $font-stack-bold;
      }
    }
  }
}
