.main-wrap {
  @include grid-row();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.main-content {

  // default 2 column
  @include grid-column(12);
  @include breakpoint(large) {
    @include grid-column(9);
  }

  // 1 column
  .full-width.main-wrap & {
    @include breakpoint(large) {
      @include grid-column(12);
    }
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(large) {
      @include grid-column(9);
      @include grid-col-pos(3);
    }
  }
}

  .main-wrap.full-width.parent {
    .main-content {
      @include breakpoint(large) {
        @include grid-column(8);
        @include grid-col-pos(1);
      }
    }
  }


.sidebar {
padding: 0 1.25rem .1rem 1.25rem;
  // default 2 column
  @include grid-column(12);
  @include breakpoint(large) {
    @include grid-column(3);
    margin-top: 1rem;
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(large) {
      @include grid-column(3);
      @include grid-col-pos(-9);
      margin-top: 1rem;
    }
  }
 .sidebar p {
    padding: .5rem;
  }
	h5 {
		margin-top:0;
		margin-bottom:0;
		color: $white;
		font-family: $font-stack-bold;
	}
  ul.nav {
  	margin-left: inherit;
    margin-bottom: 2.5rem;
  	li {
  		list-style-type: none;
  		padding: .5rem 1rem;
    	border-bottom: 1px solid $darkgrey;
    	&:hover {
    		background-color: lighten($skyblue, 10%);
    		color: $white;
    	}
    	a {
    		font-size: 1.25rem;
    		color: $black;
    		font-family: $font-subhead-book;
    	}
      &.current_page_item {
        background: $powderblue;
      }
  	}
  }
  select {
    width: 95%;
    margin: 0 .4rem 1rem;
  }
  #sidebar_header {
  padding:.75rem .93rem .62rem 1rem;
	background: $blue;
  	a, a:hover {
  		color: $white;
  	}
  }
}  

//added by TG 5-17

.menu-widget, .menu-widget .sub-menu {
	list-style: none;
}

.menu-widget {
	background: $grey;
}

.widget_text, .ecpt-page-sidebar {
  font-size: 1rem;
  background-color: $powderblue;
  .sidebar-content {
    &:last-of-type {
      padding-bottom: 1rem;
    }
  }
  .sidebar_header, h5 {
    background-color: $skyblue;
    padding: .5rem;
    font-size: 1rem;
  }
  p {
    padding-left: .5rem;
    padding-right: .5rem;
    &:first-of-type {
      padding-top: 1rem;
    }
    a > span.fa {
      color: $blue;
    }
  }
  ul.nav {
    margin-bottom: 0rem;
    li {
      border-bottom: none;
      a {
         font-size: 1rem;
      }
    }
  }
}

.widget_text {
  h6 {
    padding:.75rem .93rem .62rem 1rem;
    color: $white;
  }
}
.textwidget {
  padding: 0 1.25rem .1rem 1.25rem;
}

#parent-menu {
  .card {
    border: none;
    .card-section {
      a {
        color: $blue;
        border-bottom: .125em dotted;
        border-bottom-color: rgba(0,0,0,.2);
        &:hover, &:active {
            color: $black;
            border-bottom-style: solid;
        }
        h1 {
          font-size: 1.25rem;
          font-family: $font-stack-bold;
        }
      }
    }
  } 
}