.footer-container {
  background-color: $black;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  //border-top: 1px solid #ccc;
  //margin-top: rem-calc(60);

  .footer {
    text-align:center;
    @include grid-row();
    padding: rem-calc(30) 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    p {
      color: $white;
      font-size: .75rem;
    }
  }

  .jhushield {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(small) {
      width: 300px;
    }
    @include breakpoint(medium) {
      width: 350px;
    }
  }
  .copydate {
     margin-top: 2rem;
  }
}


.social-media {
  a {
    float: right;
    .fa {
      padding: 0 .5rem;
      color: $white;
    }
  }
}

.margin4 {
  @include breakpoint (small) {
      margin-top: 1rem;
  }
  @include breakpoint (medium) {
     margin-top: 2rem;
  }
  @include breakpoint (large) {
      margin-top: 4rem;
  }
}

#menu-footer-links {
  margin-top: 15px;
  a {
    font-size: 1rem;
    font-family: $font-stack-bold;
    color: $white;
  }
}