/// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(large);
  background: $black;
  .menu-icon::after {
    background: $white;
    -webkit-box-shadow: 0 7px 0 $white, 0 14px 0 $white;
    box-shadow: 0 7px 0 $white, 0 14px 0 $white;
  }
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(large);
}



// Site title
.site-mobile-title a {
  color: $white;
}

.site-desktop-title a {
  font-weight: bold;
}



// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}


.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }



  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}


// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}



// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}


//added by TG 5-17
.roof {
  background-color: $blue;
  width: 100%;
  padding: 5px 0;
  li.roof-padding {
    padding-top: .85rem;
  }
  a {
    color: $white;
  }
  li.bar {
    a:after { 
      content: "|";
      color: $black;
      @include breakpoint (medium) {
        margin-left: 1em; }
      }
  }
  form { 
     @include breakpoint (medium) {
      width: 200px;
      margin-top: -5px;
    }
  }
  input {
    height: 1.75rem;
    &[type="submit"] {
      font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  .button {
    background-color: $skyblue;
  }
  .roof-menu {
    font-size: 1rem;
     @include breakpoint (medium) {
        float: left;
        padding-left: 1rem;
      }
      @include breakpoint (large) {
         float: right;
      }
  }
}
.top-bar, .top-bar ul {
  background-color: $blue;
}

.top-bar-title {
  @include breakpoint (small) {
    display: block;
    float: none;
  }
  @include breakpoint (large) {
    display: inline-block;
    float: left;
  }
  h1 {
    margin: 0;
  }
  img {
    padding: .5rem 1rem;
    //this is when menu breaks line
    @include breakpoint (small) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      //max-width: 375px;
    }
    @include breakpoint (medium) {
      max-width: 400px;
    }
    @include breakpoint (large) {
      max-width: 350px;
    }
  }
}

.top-bar {
  padding-bottom: 0;
  .top-bar-left {
    //check when menu breaks line!
    @include breakpoint (886px) {
      margin-top: 1rem;
    }
    @include breakpoint (1024px) {
      margin-top: 2rem;
    }
    .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
      border-color: $white transparent transparent;
    }
  }
  .menu {
    font-family: $font-stack-bold;
    a {
      font-size: 1.125rem;
      color: $white;
      &:hover:not(.button) {
        background: darken($blue, 10%);
      }
      li:not(:last-child) {
        border-right: none;
      }
    }
    li.external {
      a::after {
        content: "\ecf6";
        font-family: $flagship-icon;
        padding-left: .25rem;
        font-size: 75%;
      }
    }
  }  
  ul li ul.submenu {
    background-color: $white;
    li {
      a {
        color: $black;
        font-family: $font-subhead-book;
        &:hover:not(.button) {
          background-color: $skyblue;
          color: $white;
        }
      }
      &:hover {
        background-color: $skyblue;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $darkgrey;
      }
    }
  }
}

/*.page-navigation {
  margin-top: 1rem;
}

.pagination {
  padding: 20px 0;
  font-size: .75rem;
  line-height: 1.1;
  a {
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    color: $white !important;
    background: $black;
    &:hover {
      color: $white;
      background: $primary-color;
    }
  }
  .current {
    padding: 6px 9px 5px 9px;
    background: $primary-color;
    color: $white;
  }
}*/

div#offCanvasTop1 {
  background: $white;
}

#global-links {
  h3 {
    font-size: 1.25rem;
  }
  .menu {
  display: inherit;
    li {
      display: list-item;
      a {
        padding: 0.35rem 1rem; 
        font-family: $font-stack-bold;
        color: $blue;
        &:hover, &:active {
            color: $black;
        }
      }      
    }
  }
}

.off-canvas {
  background: $black;
  .menu.nested {
  }
  .menu > li > a {
    color: $white;
    &:hover {
      background: $darkgrey;
    }
  }
}

.sticky-container {
   @include breakpoint (medium) {
      height: 0px !important;
    }
}

.top-bar .menu {
  .current_page_parent.current_page_ancestor {
    background: #004485;
  }
}

li#menu-item-8798.current_page_item, li#menu-item-8802.current_page_item, li#menu-item-8808.current_page_item, li#menu-item-8815.current_page_item, li#menu-item-8823.current_page_item {
   background: #004485;
}

#off-canvas-menu {
  form { 
    margin-top: 1rem;
  }
  input {
    &[type="submit"] {
      font-family: FontAwesome, 'gentona-bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  .input-group-button {
     @include breakpoint (small) {
       @include grid-column(12);
     }
    .button {
      background-color: $skyblue;
      width: 100%;
    }
  }
}