.sidebar {
  padding: 0 1.25rem .1rem 1.25rem;
  @include breakpoint(small) {
    @include grid-column(12);
  }
  @include breakpoint(medium) {
    @include grid-column(4);
    //margin-top: 1rem;
  }
	@include breakpoint (large) {
		//margin-top: 1rem;
		margin-bottom: 1.5rem;	
	}
  .sidebar p {
    padding: .5rem;
  }
	h5 {
		margin-top:0;
		margin-bottom:0;
		color: $white;
		font-weight: bold;
	}
  ul.nav {
  	margin-left: inherit;
    margin-bottom: 2.5rem;
  	li {
  		list-style-type: none;
  		padding: .5rem 1rem;
    	border-bottom: 1px solid $darkgrey;
    	&:hover {
    		background-color: lighten($skyblue, 10%);
    		color: $white;
    	}
    	a {
    		font-size: 1.25rem;
    		color: $black;
    		font-weight: bold;
    	}
      &.current_page_item {
        background: $powderblue;
      }
  	}
  }
  select {
    width: 95%;
    margin: 0 .4rem 1rem;
  }
  #sidebar_header {
  padding:.75rem .93rem .62rem 1rem;
	background: $blue;
  	a, a:hover {
  		color: $white;
  	}
  }
}

//added by TG 5-17

.menu-widget, .menu-widget .sub-menu {
	list-style: none;
}

.menu-widget {
	background: $grey;
}

.widget_text, .ecpt-page-sidebar {
  font-size: 1rem;
  background-color: $powderblue;
  .sidebar_header, h5 {
    background-color: $skyblue;
    padding: .5rem;
    font-size: 1rem;
  }
  p {
    padding-left: .5rem;
    padding-right: .5rem;
    &:first-of-type {
      padding-top: 1rem;
    }
    &:last-of-type {
      padding-bottom: 1rem;
    }
  }
  ul.nav {
    li {
      border-bottom: none;
      a {
         font-size: 1rem;
      }
    }
  }
}

.widget_text {
  h6 {
    padding:.75rem .93rem .62rem 1rem;
    color: $white;
  }
}
.textwidget {
  padding: 0 1.25rem .1rem 1.25rem;
}