$blue: #005eb8;       //blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //green
$purple: #24135f;     //purple
$red: #8a2a2b;        //red
$yellow: #cba052;     //yellow
$rust: #6f2c3f;		  //rust
$black: #2C2C33;      //black
$accessiblue: #2A78C7;
$skyblue: #418fde;
$powderblue: lighten($skyblue, 30%);
$grey: #E5E2E0;
$lightgrey: #f4f4f4;
$orange: #cf4520;
$fushia: #8e3a80;
$aqua: #589c90;
$gold: #807350;
$forest: #003d4c;
$grey: #e5e2e0;       //grey
$dark-gray: #4A484C;   //dark grey
$medium-gray: #d6d6d6;
$light-gray: #f4f4f4;
$fa-font-path: "../fonts";

$font-header: 'quadon', 'Helvetica Neue', Roboto, sans-serif;
$font-header-weight: 400;

$font-subhead-light: 'gentona-extralight', 'Helvetica Neue', Roboto, sans-serif;
$font-subhead-light-weight: 200;
$font-subhead-book: 'gentona-book', 'Helvetica Neue', Roboto, sans-serif;
$font-subhead-book-weight: 400;

$font-stack: 'gentona-light', 'Helvetica Neue', Roboto, sans-serif;
$font-stack-weight: 300;
$font-stack-semibold: 'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
$font-stack-semibold-weight: 600;
$font-stack-bold: 'gentona-bold', 'Helvetica Neue', Roboto, sans-serif;
$font-stack-bold-weight: 700;

$flagship-icon: 'icomoon', 'gentona-light', 'Helvetica Neue', Roboto, sans-serif;
$font-awesome: FontAwesome, 'gentona-bold', 'Helvetica Neue', Roboto, sans-serif;

$radius: 10px;

//flagship icon urls
$flagship-icon_url_0: url(../fonts/flagship-icon.eot);
$flagship-icon_url_1: url(../fonts/flagship-icon.eot?#iefix);
$flagship-icon_url_2: url(../fonts/flagship-icon.svg#flagship-icon);
$flagship-icon_url_3: url(../fonts/flagship-icon.woff);
$flagship-icon_url_4: url(../fonts/flagship-icon.ttf);

a {
	color: $blue;
	&:hover {
		color: $skyblue;
	}
}

@mixin link {
	//box-shadow: inset 0 -2px 0 $blue;
    //transition: color 0.1s ease-out;
    //text-decoration: none;
    //&:hover, &:active {
    //    color: $black;
    //    box-shadow: inset 0 -2px 0 $black;
    //}
    color: $blue;
    border-bottom: .125em dotted;
    border-bottom-color: rgba(0,0,0,.2);
    &:hover, &:active {
        color: $black;
        border-bottom-style: solid;
    }  
}