//$blue: #005eb8;       //blue
$blue: #0057ac;       //blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //green
$purple: #24135f;     //purple
$red: #cf4520;        //red
$yellow: #cba052;     //yellow
$rust: #76232f;		  //rust
$black: #31261D;      //black
$oldblack: #2C2C33;
$accessiblue: #0072CE;
$skyblue: #418fde;
$powderblue: lighten($skyblue, 30%);
$grey: #E5E2E0;
$lightgrey: #f4f4f4;
$orange: #cf4520;
$fushia: #8e3a80;
$aqua: #589c90;
$gold: #807350;
$forest: #003d4c;
$grey: #e5e2e0;       //grey
$dark-gray: #4A484C;   //dark grey
$medium-gray: #d6d6d6;
$light-gray: #f4f4f4;
$fa-font-path: "../fonts";

$heritageblue: #002d72;
$spiritblue: #68ace5;
$secondaryblue: #0072ce;
$accentgreen: #286140;
$secondarymaroon: #a6192e;

$font-header: 'quadon', 'Helvetica Neue', Roboto, sans-serif;
$font-header-weight: 400;

$font-stack: 'gentona-light', 'Helvetica Neue', Roboto, sans-serif;
$font-stack-weight: 300;
$font-subhead-book: 'gentona-book', 'Helvetica Neue', Roboto, sans-serif;
$font-subhead-book-weight: 400;
$font-stack-semibold: 'gentona-semibold', 'Helvetica Neue', Roboto, sans-serif;
$font-stack-semibold-weight: 600;
$font-stack-bold: 'gentona-bold', 'Helvetica Neue', Roboto, sans-serif;
$font-stack-bold-weight: 700;

$font-awesome: "Font Awesome 5 Free", 'gentona-bold', 'Helvetica Neue', Roboto, sans-serif;

$radius: 10px;

a {
	color: $heritageblue;
	&:hover {
		color: $spiritblue;
	}
}

@mixin link {
	//box-shadow: inset 0 -2px 0 $blue;
    //transition: color 0.1s ease-out;
    //text-decoration: none;
    //&:hover, &:active {
    //    color: $black;
    //    box-shadow: inset 0 -2px 0 $black;
    //}
    color: $heritageblue;
    border-bottom: .125em dotted;
    border-bottom-color: rgba(0,0,0,.2);
    &:hover, &:active {
        color: $black;
        border-bottom-style: solid;
    }  
}